/*
    The primary font variable is the font that adjusts the body text

    Change it to however you want it to be. Don't forget to import
    the url in this file as well
*/
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "Bangers", cursive;
  color: #121212; }

h1 {
  font-size: 3.1rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: .15rem;
  margin: 0 0 0.4em; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin: 1em 0; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 2.5rem;
      margin: 1em 0 1.4em; } }

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: white; }
  p a {
    color: #FF3A20;
    text-decoration: underline; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

.design-selection nav li {
  position: relative;
  background-color: #121212;
  color: #FBED18;
  padding: 1rem;
  width: 90%;
  list-style: none; }
  .design-selection nav li:hover {
    background-color: rgba(18, 18, 18, 0.5); }

.design-selection nav li:nth-child(odd) {
  margin: 1rem 0;
  left: -3rem; }
  .design-selection nav li:nth-child(odd)::after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    border: 45px solid transparent;
    border-right: 45px solid #fff; }

.design-selection nav li:nth-child(even) {
  margin: 1rem 0;
  right: 0;
  text-align: right; }
  .design-selection nav li:nth-child(even)::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    border: 45px solid transparent;
    border-left: 45px solid #fff; }
  .design-selection nav li:nth-child(even) a {
    text-align: right; }

nav a {
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
  color: #FBED18;
  text-decoration: none;
  display: block;
  text-align: left; }
  nav a::first-letter {
    color: #FF3A20;
    font-size: 2rem; }
  nav a:nth-child(2) {
    display: inline; }

.design-archives ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  justify-content: center; }
  .design-archives ul li {
    list-style: none;
    padding: 1rem;
    background-color: #121212; }
    .design-archives ul li:nth-child(1) {
      margin-right: 2rem; }
    .design-archives ul li:nth-child(2) {
      margin-left: 2rem; }
      .design-archives ul li:nth-child(2) a {
        text-align: right; }

@media only screen and (min-width: 480px) {
  .design-selection nav li {
    width: 95%; }

  .design-selection nav li:nth-child(odd)::after {
    border: 47px solid transparent;
    border-right: 47px solid #fff; }

  .design-selection nav li:nth-child(even)::after {
    border: 47px solid transparent;
    border-left: 47px solid #fff; } }
/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */
/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */
body {
  background-color: #FEFEFE;
  font-size: 1.1rem; }

header {
  text-align: center;
  padding: 2rem; }

header h1 {
  margin-bottom: 0; }

header h2 {
  margin: 0;
  font-size: 2.5rem; }

/******************************************************************
			Styles for changing background on hover
******************************************************************/
.summary, .explanation p, .benefits p, .preamble p, .participation p, .requirements p {
  position: relative;
  color: transparent;
  background-attachment: scroll;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }
  .summary:hover, .explanation p:hover, .benefits p:hover, .preamble p:hover, .participation p:hover, .requirements p:hover {
    color: #fff;
    z-index: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }

.summary:hover::after, .explanation p:hover::after, .benefits p:hover::after, .preamble p:hover::after, .participation p:hover::after, .requirements p:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #121212;
  width: 110%;
  height: 110%;
  z-index: -1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }

.summary p, .summary a {
  color: transparent;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }

.summary:hover p {
  color: #fff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }
.summary:hover a {
  color: #FF3A20;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }

.participation a, .requirements a {
  color: transparent;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }
.participation p:hover a, .requirements p:hover a {
  color: #FF3A20;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }

/******************************************************************
	 Change the image background here so they can be different
******************************************************************/
/******************** 320px upto 480px ***************************/
.summary {
  background-image: url(luffy-png.png);
  background-size: 1350px; }

.preamble p:nth-of-type(1) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.preamble p:nth-of-type(2) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.preamble p:nth-of-type(3) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.explanation p:nth-of-type(1) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.explanation p:nth-of-type(2) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.participation p:nth-of-type(1) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.participation p:nth-of-type(2) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.participation p:nth-of-type(3) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.benefits p {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.requirements p:nth-of-type(1) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.requirements p:nth-of-type(2) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.requirements p:nth-of-type(3) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.requirements p:nth-of-type(4) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

.requirements p:nth-of-type(5) {
  background-image: url(luffy.jpg);
  background-size: 1350px; }

/******************** 480px upto 768px ***************************/
/*
@include MQ(XS) {

	// Summary

	.summary {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Preamble paragraph tags

	.preamble p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Explanation paragraph tags

	.explanation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.explanation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Participation paragraph tags

	.participation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Benefits Paragraph tag

	.benefits p {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Requirements paragraph tags

	.requirements p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(4) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(5) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}	

}

/******************** 768px upto 1024px **************************

@include MQ(S) {

	// Summary

	.summary {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Preamble paragraph tags

	.preamble p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Explanation paragraph tags

	.explanation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.explanation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Participation paragraph tags

	.participation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Benefits Paragraph tag

	.benefits p {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Requirements paragraph tags

	.requirements p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(4) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(5) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}	

}

/******************** 1024px upto 1600px **************************

@include MQ(M) {

	// Summary

	.summary {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Preamble paragraph tags

	.preamble p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Explanation paragraph tags

	.explanation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.explanation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Participation paragraph tags

	.participation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Benefits Paragraph tag

	.benefits p {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Requirements paragraph tags

	.requirements p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(4) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(5) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}	

}

/******************** 1600px and up **************************

@include MQ(L) {

	// Summary

	.summary {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Preamble paragraph tags

	.preamble p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.preamble p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Explanation paragraph tags

	.explanation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.explanation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Participation paragraph tags

	.participation p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.participation p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Benefits Paragraph tag

	.benefits p {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	// Requirements paragraph tags

	.requirements p:nth-of-type(1) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(2) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(3) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(4) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}

	.requirements p:nth-of-type(5) {
		background-image: url(luffy.jpg);
		background-size: 1350px; // Change according to viewport size. Use Photoshop and MQs
	}	

}

*/
/******************************************************************
		    End Styles for changing background on hover
******************************************************************/
.summary {
  margin: 1rem;
  padding: 3rem 2rem;
  clip-path: polygon(0 5%, 0 100%, 100% 95%, 100% 0); }

.preamble p:nth-of-type(1), .participation p:nth-of-type(1) {
  margin: 1rem;
  padding: 2.5rem 2rem 3rem;
  background-color: #121212;
  clip-path: polygon(50% 96%, 100% 100%, 100% 0, 0 0, 0 100%); }

.preamble p:nth-of-type(2), .participation p:nth-of-type(2) {
  margin: 1rem;
  padding: 2.5rem 2rem 2.5rem;
  background-color: #121212;
  clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%, 0% 5%); }

.preamble p:nth-of-type(3), .participation p:nth-of-type(3) {
  margin: 1rem;
  padding: 3.5rem 2rem 2rem;
  background-color: #121212;
  clip-path: polygon(0 0, 50% 4%, 100% 0, 100% 100%, 0 100%); }

.explanation p:nth-of-type(1) {
  margin: 1rem;
  padding: 2.5rem 2rem 2.5rem;
  background-color: #121212;
  clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%, 0% 100%); }

.explanation p:nth-of-type(2) {
  margin: 1rem;
  padding: 2.5rem 2rem 2.5rem;
  background-color: #121212;
  clip-path: polygon(100% 0%, 0% 5%, 0% 95%, 100% 100%, 100% 100%); }

.requirements p:nth-of-type(1) {
  margin: 1rem;
  padding: 2.5rem 2rem 2.5rem;
  background-color: #121212;
  clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%, 0% 100%); }

.requirements p:nth-of-type(2) {
  margin: 1rem;
  padding: 2.5rem 2rem 2.5rem;
  background-color: #121212;
  clip-path: polygon(100% 0%, 0% 3.5%, 0% 96.5%, 100% 100%, 100% 100%); }

.requirements p:nth-of-type(3) {
  margin: 1rem;
  padding: 2.5rem 2rem 2.5rem;
  background-color: #121212;
  clip-path: polygon(0% 0%, 100% 6.5%, 100% 93.5%, 0% 100%, 0% 100%); }

.requirements p:nth-of-type(4) {
  margin: 1rem;
  padding: 2.5rem 2rem 2.5rem;
  background-color: #121212;
  clip-path: polygon(100% 0%, 0% 5%, 0% 100%, 50% 95%, 100% 100%); }

.requirements p:nth-of-type(5) {
  margin: 1rem;
  padding: 3rem 2rem;
  background-color: #121212;
  clip-path: polygon(0 10%, 50% 0%, 100% 10%, 100% 100%, 0% 100%, 0% 100%); }

.preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3, .select, .archives, .resources {
  position: relative;
  background-color: #FBED18;
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;
  font-family: "Bangers", cursive;
  font-size: 1rem;
  color: black;
  letter-spacing: 1.5px; }
  .preamble h3::first-letter, .explanation h3::first-letter, .participation h3::first-letter, .benefits h3::first-letter, .requirements h3::first-letter, .select::first-letter, .archives::first-letter, .resources::first-letter {
    color: #FF3A20;
    font-size: 1.5rem; }
  .preamble h3::before, .explanation h3::before, .participation h3::before, .benefits h3::before, .requirements h3::before, .select::before, .archives::before, .resources::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    border: 30px solid transparent;
    border-left: 30px solid #FEFEFE; }
  .preamble h3::after, .explanation h3::after, .participation h3::after, .benefits h3::after, .requirements h3::after, .select::after, .archives::after, .resources::after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    border: 30px solid transparent;
    border-right: 30px solid #FEFEFE; }

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  footer a {
    width: 80px;
    padding: 1rem .5rem;
    background-color: #121212;
    text-decoration: none;
    text-align: center;
    color: #FEFEFE; }

.zen-resources ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  padding: 0;
  margin: 0; }
  .zen-resources ul li {
    list-style: none;
    padding: 1.5rem .75rem;
    background-color: #121212;
    border: 1px solid #FEFEFE; }
    .zen-resources ul li a {
      color: #FEFEFE;
      text-decoration: none; }
    .zen-resources ul li:first-child {
      grid-column: 1/3; }
    .zen-resources ul li:nth-child(2) {
      grid-column: 3/4;
      grid-row: 1/3; }
    .zen-resources ul li:nth-child(4) {
      grid-row: 2/ 4; }
    .zen-resources ul li:nth-child(5) {
      grid-column: 2/4; }

@media only screen and (min-width: 480px) {
  .preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3, .select, .archives, .resources {
    margin: 3rem;
    padding: 1rem;
    font-size: 1.3rem; }
    .preamble h3::first-letter, .explanation h3::first-letter, .participation h3::first-letter, .benefits h3::first-letter, .requirements h3::first-letter, .select::first-letter, .archives::first-letter, .resources::first-letter {
      font-size: 2.5rem; }
    .preamble h3::before, .explanation h3::before, .participation h3::before, .benefits h3::before, .requirements h3::before, .select::before, .archives::before, .resources::before {
      border: 38px solid transparent;
      border-left: 40px solid #FEFEFE; }
    .preamble h3::after, .explanation h3::after, .participation h3::after, .benefits h3::after, .requirements h3::after, .select::after, .archives::after, .resources::after {
      border: 38px solid transparent;
      border-right: 40px solid #FEFEFE; }

  .participation {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .participation h3, .participation p:nth-of-type(1), .requirements h3 {
    grid-column: 1/3; }

  .participation p:nth-of-type(2) {
    padding: 3rem 2rem;
    clip-path: polygon(0 5%, 0 100%, 100% 95%, 100% 0); }

  .participation p:nth-of-type(3) {
    padding: 3rem 2rem;
    clip-path: polygon(100% 100%, 0 95%, 0 0, 100% 5%); }

  .benefits p {
    padding: 4rem 2rem 2rem;
    clip-path: polygon(50% 0, 100% 15%, 100% 100%, 0 100%, 0 15%); }

  .requirements {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .requirements p:nth-of-type(1), .requirements p:nth-of-type(2), .requirements p:nth-of-type(5) {
    grid-column: 1/3; }

  .requirements p:nth-of-type(3) {
    padding: 3rem 2rem;
    clip-path: polygon(0 3.5%, 0 96.5%, 100% 100%, 100% 0); }

  .requirements p:nth-of-type(4) {
    padding: 3rem 2rem;
    clip-path: polygon(100% 96.5%, 0 100%, 0 0, 100% 3.5%); }

  .requirements p:nth-of-type(5) {
    padding: 3rem 2rem;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0); }

  footer {
    margin: 1.5rem; }
    footer a {
      padding: 1rem; }

  .zen-resources li {
    padding: 2rem; } }
