// Store the chosen color palette here

$color-1: #FF3A20;
$color-2: #FBED18;
$color-3: #FEFEFE; // Used as the main background color
$color-4: #121212; // Used as "black" for body text
$color-5: #fdf252;
$color-6: #0F4770;

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red